/* Property to inlude the padding and border in element's total width and height */
* {
    box-sizing: border-box;
}

/* Selection of variables */
:root{
 --darkgray: #121212;    
 --white: white;
 --lightgray: #3d3d3d;
 --lightred: #b63c3c; 
 --orange: #ffa500;   
}

/* background set for body and font from Google fonts */
body {
    background-color: var(--darkgray);
    font-family: 'Source Code Pro', monospace;
}

/* color set for "h" & "p" elements */
h1,
h2,
h3,
p {
    color: var(--white);
}

header {
    position:-webkit-sticky;
    position:sticky;
    top:0;
    width: 100%;
    background-color: var(--lightgray);
    border-style: solid;
    text-align:start 
}

/* CSS style for page title section in the header */
header .page-title {
    padding: 0px 25px;

}

header .my-picture{
    display: inline-block;
    position: absolute;
    height: 60%;
    top: 10px;
    right: 25px;
}


/* CSS style for navegation bar and elements */
header .navegation-bar {
    padding: 0 px;
    margin: 0px;
    border-top-style: dashed;
}

.navegation-bar ul {
    display: flex;
    justify-content: space-evenly;
}

.navegation-bar ul li {
    list-style: none;
}

.navegation-bar a {
    color: var(--lightred);
    font-weight: bolder;
    text-decoration: none;
}

.navegation-bar a::before{
    content: "<";
}

.navegation-bar a::after{
    content: "/>";
}

.navegation-bar a:hover{
    color: var(--orange);

}
/* main section */
main .display-section{ 
   width: 80%;
   /* height: auto;  */
   margin: 0% 10%; 
}

/* This is the image that appeart when the user enter the website */
.display-section .workstation{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 75%;
}

/* .about-me{
    display: none;
}

.about-mel:active .about-me{
    display: block;
} */


/* CSS for footer section */

footer {
    position: relative;
    width: 100%;
    bottom: 0;
    background-color: var(--lightgray);
    border-style: solid;
    padding: 0px 25px;
}

footer .contact-links{
    display: flex;
    justify-content:space-around;
}

.smlink{
    height: 40px;
    width: 40px;
}