/* Property to inlude the padding and border in element's total width and height */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Selection of variables */
:root {
  --darkgray: #121212;
  --white: white;
  --lightgray: #3d3d3d;
  --lightred: #ff5252;
  --orange: #ffa500;
}

body {
  background-color: var(--darkgray);
  font-family: "Source Code Pro", monospace;
  font-size: 62.5%;
  border-style: solid;
}

/* color set for "h" & "p" elements */
h1,
h2,
h3,
p {
  color: var(--white);
}

p {
  font-size: 2rem;
}

header {
  display: flex;
  justify-content: space-around;
  background-color: var(--lightgray);
  width: 100%;
  padding: 0.1rem 0;
}

.name {
  align-self: center;
  padding-left: 1rem;
  padding-right: 1rem;
}

.my-picture {
  padding: 1rem;
  width: 8rem;
  height: 10rem;
}

.workstation {
  width: 100%;
}

/* CSS style for navegation bar and elements*/

.navegation-bar {
  border-top-style: dashed;
  border-bottom-style: dashed;
}

.navegation-bar ul {
  display: flex;
  justify-content: space-evenly;
  padding: 0.3rem;
  font-size: 0.9rem;
}

.items-nav li {
  color: var(--lightred);
  font-weight: bolder;
  text-decoration: none;
  list-style: none;
}

.items-nav li::before {
  content: "<";
}

.items-nav li::after {
  content: "/>";
}

.items-nav li:hover {
  color: var(--orange);
  cursor: pointer;
}

.hide {
  display: none;
}

.display-section {
  width: 100%;
  height: auto;
  margin: 1rem 0;
}

.workstation {
  position: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

footer {
  width: 100%;
  background-color: var(--lightgray);
  border-style: solid;
  padding: 0.3rem 1rem;
  font-size: 0.7rem;
}

.contact-links {
  display: flex;
  justify-content: space-around;
  flex: 0 1 auto;
  padding: 0.5rem 0;
}

.smlink {
  height: 2rem;
  width: 2rem;
}

/*
.display-section h2 {
  text-decoration: underline;
}

#about-me,
#skills,
#projects,
#contact {
  border-bottom-style: dashed;
  padding-bottom: 10px;
}

/* Skills article */

/* #skills li {
  color: var(--white);
}

.skills2 {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.skills2 > section {
  margin: 0px 30px;
} */

/* Projects article */

/* .projects-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.projects-container img {
  width: 20em;
  height: 10em;
  padding: 1em;
}

.projects-container a img:hover {
  width: 25em;
  height: 15em;
} */

/* Contact and form */

/* .contact-form {
  border-radius: 5px;
  background-color: var(--lightgray);
  padding: 20px;
  color: var(--white);
  display: flex;
  flex-direction: row;
}

.contact-form div {
  margin-bottom: 20px;
}

form > div {
  display: flex;
  justify-content: center;
}

form > div > label {
  width: 150px;
}

button {
  cursor: pointer; */
/* } */

/* CSS for footer section */

/* Media queries */
/* 
  mobile < 600px
  tablet 600 - 800
  laptop > 800px

*/

/* Tablets */
/* @media screen and (min-width: 620px) {
  
} */

/* Laptop
@media screen and (min-width: 960px) {
}

/*Desktops
@media screen and (min-width: 1200px) {
} */
